*{
    margin: 0;
    padding: 0;
    font-family:aller,sans-serif;
    overflow-x:hidden!important;
}

body{
    background-image: linear-gradient( rgba(238, 241, 89, 0.05),rgba(0, 0, 0, 0.6)), url(../img/index_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1{
    color: #fff;
    font-size:4em!important;
}

h2{
    font-size:3em!important;
}


.white-text{
    color:white!important;
}

.md-form{
    margin-top:0!important;
    margin-bottom:0!important;
}

.md-form input, .md-form textarea{
    border-bottom:1px solid #5d6166!important;

}
.contactSection {
    background-color: rgba(255, 255, 255, 0.7)!important;
    padding:0 5%;
    border-radius:1%;
}

.devenirDiv{
    background-color: rgba(255, 255, 255, 0.7)!important;
    padding:5% 0;
    border-radius:1%;
}